@import "./styles/cols.scss";
@import "./styles/tables.scss";

html,
body {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: #000;
}

body * {
  font-family: 'Arial', sans-serif;
}

* {
  box-sizing: border-box
}

body {
  padding: 20px;
  margin: 0;
}